/* Fonts */


/* Universal Styles */

html {
  font-family: Helvetica;
  font-size: 16px;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

/* Banner sections with universal tools*/
.banner {
  display: flex;
  padding: 2rem 0;
}

.banner-title {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.banner .left {
  width: 60%;
  padding: 0 1.5rem;
}

.banner .right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info-container .image-container {
  width: 35%;
  padding: 1rem;
}

.info-container .right {
  justify-content: center;
  width: 65%;
}

.info-container .image-container:first-child {
  padding-top: 0;
}

@media only screen and (max-width: 575px) {
  .banner{
    flex-direction: column;
    padding: 0;
  }

  .banner .left {
    width: 100%;
    padding: 0;
  }

  .banner .right {
    width: inherit;
  }

  .info-container {
    flex-direction: column;

    margin: 2rem 1rem;
  }

  .info-container .image-container {
    width: 100%;
    padding: 0;
  }
}

/* Header/Footer section */
header {
  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;
  margin: auto;

  width: 100%;
  height: 4rem;
  background-color: white;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  width: 100%;
  background-color: white;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  margin-left: 1.5rem;
}

.logo img {
  /*margin: 0.66rem 0.5rem;*/
  height: 2rem;
  width: auto;
}

.logo span:first-child {
  font-weight: bold;
}

nav {
  margin-right: 1.5rem;
}

ul {
  display: inline-flex;
}

li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  /*line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;*/
}

@media only screen and (max-width: 575px) {
  header.mobile-show {
    position: relative;

    display: flex;
    justify-content: space-around;
  }

  header a img {
    height: 2rem;
    width: auto;
  }

  footer {
    margin-bottom: 1rem;
  }
}

/*Main Content*/
.main-content {
  position: relative;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}


@media only screen and (max-width: 575px) {
  .main-content {
    padding-top: 0;
    width: 100%;
  }
}

/* main banner */
#main {
  background-color: lightgray;
}

#main .right {
  justify-content: center;
}

#main h1 {
  margin-bottom: 2rem;
}

#main h2 {
  margin-bottom: 1.5rem;
}

#main a {
  color: white;
  text-decoration: none;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkgray;
  margin-right: 25%;
  min-height: 2rem;
}

@media only screen and (max-width: 575px) {
  #main .right {
    padding: 2rem 1rem;
  }

  .start-button {
    margin: 0;
  }
}

/* info banner */
#info .left .text h1 {
  margin-top: 2rem;
}

#info .left .text p {
  margin-top: 1.5rem;
}

#info .left .text .author {
  /*margin-top: 1.5rem;*/
}

@media only screen and (max-width: 575px) {
  #info .info-container:first-child {
    margin-top: 1rem;
  }
}

/* thesis banner */
#thesis .left .text h3 {
  margin-top: 1.5rem;
}

#thesis .left .text p {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 575px) {
  #thesis .banner {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  #thesis .banner .right {
    display: none;
  }
}

/* curriculum */
#curriculum {
  background-color: lightgray;
  width: 100%;
}

#curriculum .banner {
  flex-wrap: wrap;
  padding: 1rem 3.5rem;
}

#curriculum .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

#curriculum .courses {
  width: 100%;
  padding: 0.5rem 0;
}

.curriculum-container {
  display: flex;
  flex-direction: column;

  flex: 1 1 29%;
  margin: 1rem;
  background-color: white;
}

@media only screen and (max-width: 575px) {
  #curriculum {
    background-color: inherit;
  }

  #curriculum .banner {
    padding: 0;
  }

  .banner ul {
    display: flex;
    flex-direction: column;

    margin: 1rem;
  }

  .banner li {
    padding: 1rem 0 1.5rem 1rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
  }

  .banner li:last-child {
    margin-bottom: 1rem;
  }
}


@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }

}
