/* Fonts */
div {
  border: 1px solid pink;
}
/* Universal Styles */

html {
  font-family: Helvetica;
  font-size: 16px;
}

.tablet {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;

  height: auto;
  width: 100%;
}

/* Header section */
header {
  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;

  width: 100%;
  height: 4rem;
}

header .logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;

  margin-left: 1.5rem;
}

.logo img {
  /*margin: 0.66rem 0.5rem;*/
  height: 2rem;
  width: auto;
}

header nav {
  margin-right: 1.5rem;
}

header nav ul {
  display: inline-flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  /*line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;*/
}

 /*Main Content*/
 .main-content {
   position: relative;
   padding-top: 4rem;

   display: flex;
   flex-direction: column;
   align-items: center;
 }

/* Banner sections */
.banner {
  display: flex;
}

.banner .left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%
}

/* #main banner */
#main {
  background-color: lightgray;
}

#main a {
  width: 60%;
  background-color: darkgray;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0;
}

/* info banner */
#info .left .text h1 {
  margin-top: 2rem;
}

#info .left .text p {
  margin-top: 1.5rem;
}

#info .left .text .author {
  /*margin-top: 1.5rem;*/
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.info-container .left {
  width: 35%;
  padding: 1rem;
}

.info-container .right {
  width: 65%;
}
