/* TODO: fonts */
/* TODO: font line spacing */
/* TODO: ARIA */

/* colors: School colors are baby blue (#89cff0) and black (#000000) - "arbitrarily" chosen by me since it wasn't specificied. (My school's colors.) Color palets used were http://paletton.com/#uid=13s0u0kesVS1Q+U8OZ7jaQWnkJ1
and http://paletton.com/#uid=1000u0k00000nfW028N8N02fW0n.

Playing with the colors on the page, the blue is too light to look good and is hard to see. It does work well for the background colors though. Leaving Black and shades of gray for the rest of the text on the screen.

white = #F1FAFF
lightgray = #B8E4FA
darkgray = #3E9CCA

For the fonts, I wanted something professional and classic, but unique. This is a school being represented... I chose a Serif font as the primary font because it draws the eye better. I wanted the headings to be bold and stand out. Going for a sans-serif font for the text made it readable while not as overbearing. This is additional information. Looking at a number of other school sites, they semed to follow the same ideas. There was plenty of variation though so it isn't like this is copying someone elses. A school can't have a hint of plagurisim! (BTW, MIT (http://web.mit.edu/) has the worst site I think I've ever seen!)

The Kreon font appealed to me. It had enough of a unique charactistic without being too devient from a more traditional font. (It also had the correct styles available!). I confess I didn't shop too much for a pairing sans-serif font. The Open Sans was recommended and I thought it looked good so I went with it.
*/

/*********************************** Fonts  ***********************************/
/* Kreon */
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 300;
  src: local('Kreon Light'), local('Kreon-Light'), url(https://fonts.gstatic.com/s/kreon/v11/76aS1J5Mmu41iLp2Z15uBfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 400;
  src: local('Kreon Regular'), local('Kreon-Regular'), url(https://fonts.gstatic.com/s/kreon/v11/gK2DcrR6Rzx5Ga9PpDfp3A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Kreon';
  font-style: normal;
  font-weight: 700;
  src: local('Kreon Bold'), local('Kreon-Bold'), url(https://fonts.gstatic.com/s/kreon/v11/xjKCXsEUnBvIKKUiQZ3MtfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Open Sans */
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


h1 {
  font-family: Kreon, Helvetica;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-family: Kreon, Helvetica;
  font-size: 1.5rem;
}

p {
  font-family: Open Sans, Helvetica;
  opacity: 0.5; /* opacity controls the lightness of the text. "lighter" didn't work */
}

a {
  text-decoration: none;
  font-family: Open Sans, Helvetica;
}

/****************************** Universal Styles ******************************/

html {
  font-family: Kreon, Helvetica;
  font-size: 16px;
}

body {
  background-color: #F1FAFF;
}

.mobile-show {
  display: none;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 100%;
}

.video-container {
  width: 100%
}

.video-container video {
  width: inherit;
}

@media only screen and (max-width: 575px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: inherit;
  }
}

/******************** Banner sections with universal tools ********************/

.banner {
  display: flex;
  padding: 2rem 0;
}

.banner-title {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.banner .left {
  width: 60%;
  padding: 0 1.5rem;
}

.banner .right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.info-container {
  display: flex;
  justify-content: center;
}

.info-container .image-container {
  width: 35%;
  padding: 1rem;
}

.info-container .right {
  justify-content: center;
  width: 65%;
}

.info-container .image-container:first-child {
  padding-top: 0;
}

@media only screen and (max-width: 575px) {
  .banner {
    flex-direction: column;
    padding: 0;
  }
  .banner .left {
    width: 100%;
    padding: 0;
  }
  .banner .right {
    width: inherit;
  }
  .info-container {
    flex-direction: column;
    margin: 2rem 1rem;
  }
  .info-container .image-container {
    width: 100%;
    padding: 0;
  }
}

/*************************** Header/Footer section  ***************************/

header {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 4rem;
  background-color: #F1FAFF;
  border-bottom: 1px solid #B8E4FA;
}

footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  background-color: #F1FAFF;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 1.5rem;
}

.logo img {
  /*margin: 0.66rem 0.5rem;*/
  height: 2rem;
  width: auto;
}

.logo span:first-child {
  font-weight: 700;
  opacity: 0.8; /* softens this a little bit so the blue stands out better */
}

.logo span:last-child {
  color: #3E9CCA;
}

nav {
  margin-right: 1.5rem;
}

ul {
  display: inline-flex;
}

li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  /*line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;*/
}

@media only screen and (max-width: 575px) {
  header.mobile-show {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  header a img {
    height: 2rem;
    width: auto;
  }
  footer {
    margin-bottom: 1rem;
  }
}

/******************************** Main Content ********************************/

.main-content {
  position: relative;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1050px;
  margin: auto;
}

@media only screen and (max-width: 575px) {
  .main-content {
    padding-top: 0;
    width: 100%;
  }
}

/************ Main Banner  ************/

#main {
  background-color: #B8E4FA;
}

#main .right {
  justify-content: center;
}

#main h1 {
  margin-bottom: 2rem;
}

#main h2 {
  margin-bottom: 1.5rem;
}

#main a {
  color: #F1FAFF;
  text-decoration: none;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E9CCA;
  margin-right: 25%;
  min-height: 2rem;
}

@media only screen and (max-width: 575px) {
  #main .right {
    padding: 2rem 1rem;
  }
  .start-button {
    margin: 0;
  }
}

/************ Info Banner  ************/

#info .left .text h1 {
  margin-top: 2rem;
}

#info .left .text p {
  margin-top: 1.5rem;
}

#info .left .text .author {
  /*margin-top: 1.5rem;*/
}

@media only screen and (max-width: 575px) {
  #info .info-container:first-child {
    margin-top: 1rem;
  }
}

/*********** Thesis Banner  ***********/

#thesis .left .text h3 {
  margin-top: 1.5rem;
}

#thesis .left .text p {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 575px) {
  #thesis .banner {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  #thesis .banner .right {
    display: none;
  }
}

/********* Curriculum Banner  *********/

#curriculum {
  background-color: #B8E4FA;
  width: 100%;
}

#curriculum .banner {
  flex-wrap: wrap;
  padding: 1rem 3.5rem;
}

#curriculum .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

#curriculum .courses {
  width: 100%;
  padding: 0.5rem 0;
}

.curriculum-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 29%;
  margin: 1rem;
  background-color: #F1FAFF;
}

@media only screen and (max-width: 575px) {
  #curriculum {
    background-color: inherit;
  }
  #curriculum .banner {
    padding: 0;
  }
  .banner ul {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .banner li {
    padding: 1rem 0 1.5rem 1rem;
    background-color: #B8E4FA;
    margin-bottom: 0.5rem;
  }
  .banner li:last-child {
    margin-bottom: 1rem;
  }
}
